.create-spot-page-container {
   /* background-color: red; */
   display:flex;
   justify-content: center;
   flex-direction: column;
   width:100%;
   margin:auto;
   border: 1px solid black;
}
.image-preview {
   height:200px;
   margin:10px;

}
.create-spot-name {
   color: rgba(255, 121, 119, 255);
}
.spot-form-container {
   min-height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   margin:auto;
}
.create-spot-name-container {
   display: flex;
   justify-content: center;
   text-align: center;
}
.error-container {
   display: flex;
   justify-content: center;
   color: red;
   align-items: center;
}

.create-spot-form-error-container {
   font-size: 14px;
   display: flex;
   flex-direction: column;
   border: 1px solid red;
   border-radius: 5px;
   width: 400px;
   padding: 10px 0px 10px 0px;
   background-color: rgba(238, 67, 67, 0.507);
   margin-bottom: 20px ;
   color: rgb(163, 17, 17)
}

.error-list {
   margin-left: 7px;
}
.create-spot-form {
   display:flex;
   /* background-color: blue; */
   justify-content: space-between;
   width:85%;
   margin-top:30px;
   
}
.create-spot-input {
   width:90%;
}
.create-spot-label {
   display:flex;
   /* justify-content: center; */
   align-items: center;
}
.create-spot-city-state-country {
   display: flex;
   /* justify-content: space-between; */
   width:85%
}
.create-spot-label-location {
   padding-right:10px;
}
.create-spot-form-city {
   display:flex;
   width:100%;
}
.create-spot-input-city {
   width: 40%;
   padding-right:50px;
}

.create-spot-select-state {
   width:60%;
   padding-right: 50px;
}
.create-spot-form-state {
   display: flex;
   width: 100%;
}

.create-spot-form-country {
   display: flex;
   width:60%
}
.create-spot-select-country {
   width: 85%;
}

.create-spot-price-gues-bed-bath {
   display:flex;
   width:85%;
   justify-content: space-between;
}

.create-spot-label-room-info {
   padding-right: 10px;
}
.create-spot-room-info {
   width: 60%
}
.create-spot-room-info-bath {
   width: 73%
}
.create-spot-textarea {
   width:85%;
   height:150px;
   font-size:15px;
}
.spot-form-button {
   border:unset;
   font-size: 20px;
   background-color: burlywood;
   border-radius:8px;
   padding:3px 5px 3px 5px;
   margin-bottom:20px;
}
.spot-form-button:hover {
   font-weight:400;
   cursor:pointer;
}
.upload-container {
   display:flex;
   flex-direction: column;
}
.upload-images {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}
.image-upload-container{
   display:flex;
   justify-content: center;
   font-size: 1.5em;
   padding-bottom: 20px;
   /* background-color: red; */
}
.update-remove{
   display:flex;
   justify-content: space-evenly;
   font-size: 17px;
}


