.profile-button {
font-size: 30px;
display:flex;
align-self: center;
border:unset;
background-color: white;
margin-right:30px;
padding-left: 1em;
}


.profile-button-icon:hover{
   color:rgba(255, 98, 127, 255);
}
.navbar-container {
   display:flex;
   justify-content: space-between;
   width:100%;
   height:80px;
   background-color:white;
   border-bottom: 1px solid black;
   align-items: center;
   margin:auto;
   position:fixed;
   top:0;
   
}
.nav-icon-name {
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav-image-container {
   font-size: 25px;
   color:rgba(255, 98, 127, 255);
   padding-right:10px;
}
.nav-image {
   height:30px;
   margin-left:30px;
}
.nav-sign-button:hover {
   background-color: rgba(255, 98, 127, 255);
   cursor:pointer;
}

.app-name-link {
   text-decoration: none;
   color: rgba(255, 121, 119, 255);
   font-size: 20px;
   letter-spacing: -.8px;
   font-weight: 600;
   font-size: 22px;
}

.navbar-right {
   display: flex;
   justify-content: center;
}

.host-spot-button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}

.nav-profile {
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav-host-button {
   border:unset;
   background-color:white;
   font-size: 16px;
}
.nav-host-button:hover {
   background-color: rgba(255, 98, 127, 255);
   border-radius:8px;
   cursor:pointer; 
}
.profile-dropdown {
   background-color: grey;
   align-items: center;
   position: fixed;
   display:flex;
   flex-direction: column;
   width:150px;
   height:110px;
   /* margin-top: 10px; */
   border-radius: 5px;
   border: 2px solid black;
   right:1.5%;
}
.nav-user {
   display: flex;
   justify-content: center;
   align-items:center;
   height:100%;
   width:100%;
   margin: .2em 0 .2em 0;
   
}
.nav-book-logout {
  background-color: grey;
  color:black; 
  width:100%;
  height:100%;
  font-size: 15px;
  border: none;
  text-decoration: none;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
  display:flex;
}
.nav-book-logout:hover {
   cursor:pointer;
   background-color: rgba(255, 98, 127, 255);

}

.dropdown-content {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   height:100%;
   width:100%
}

.search-container {
   height: 30px;
   position: relative;
}

.search-input {
   all:unset;
   height: 30px;
   width: 30vw;
   border: 1px solid #504e52;
   border-radius: 20px;
   text-align: center;
   z-index: 1;

}

.search-input:selection {
   background-color: #1a1d21;

}
.search-results {
   background-color: white;
   border: 1px solid black;
   z-index: 1000;
   margin-top: 1.5em;
   border-radius: 10px;
}

.search-results li {
   list-style-type: none;
   margin-left: -35px;
}
.search-result-text {
   all: unset;
   cursor: pointer;
   width:100%;
   align-items: center;
}
.match {
padding-top:5px;
font-size: 1.1em;
}
.search-pic-name {
   display: flex;
}
.search-result-text:hover {
   background-color: rgba(255, 98, 127, 255);
}
.search-results-image {
   height:30px;
   object-fit: cover;
   margin-right:1em;
}
.search-results-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 10px 0px;
   min-height: 47px;
   padding: 0px 6px;
}

.search-results-item:hover {
   background-color: rgba(255, 98, 127, 255);
}
