.review-edit-delete-container {
   display:flex;
   justify-content: center;
}

.review-rating-edit-container {
   display:flex;
   justify-content: space-between;
}
.review-edit-delete-container {
   margin-left:15px;
}
.each-review-display-container {
   border-bottom: 1px solid black;
}
.review-name-edit-delete-container {
   display:flex;
   justify-content: space-between;
   align-items: center;
   height:30px;
}
.review-rating-container {
   height:20px;
}