
.spot-details-container {
   width: 1206px;
   display: flex;
   flex-direction: column;
   justify-self: center;
   /* margin-left:auto;
   margin-right:auto;
   margin-bottom: 50px; */
   margin:100px auto 50px auto
}
.spot-details-edit-delete-container {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.spot-details-edit {
   margin-right:10px;
};
.spot-detail-reviews {
   padding-right: 2em;

}
.spot-detail-location {
   padding-left: 1em;
}
.spot-detail-name {
   font-size: 45px;
   font-weight:300;
   letter-spacing: -2px;
}
.spot-detail-diamond {
   margin:0 30px 0 5px;
}
.spot-detail-review-location-container {
   display: flex;
   padding-bottom:10px;
   font-size:17px;
}
.spot-detail-images {
   display:grid;
   justify-content: center;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 3px;
   grid-row-gap: 3px;
   grid-template-areas:
   'a a b d'
   'a a c e';
}
.spot-detail-image-0 {
   height: 600px;
   width: 600px;
   border-radius: 10px;     
   grid-area: a;
   object-fit:cover;
   
}
.spot-detail-image-1 {
   height: 300px;
   width: 300px;
   border-radius: 10px;
   grid-area: b;
   object-fit: cover;
}
.spot-detail-image-2 {
   height: 300px;
   width: 300px;
   border-radius: 10px;
   grid-area: c;
   object-fit: cover;
}
.spot-detail-image-3 {
   height: 300px;
   width: 300px;
   border-radius: 10px;
   grid-area: d;
   object-fit: cover;
}
.spot-detail-image-4 {
   height: 300px;
   width: 300px;
   border-radius: 10px;
   grid-area: e;
   object-fit: cover;
}
.spot-detail-mid {
   display:flex;
   margin:3em 0 3em 0;
}
.spot-detail-mid-right {
   margin-left: 3em;
}
.spot-detail-mid-left {
   width: 756rem;
}
.spot-details-rating {
   display:flex;
   align-items:center;
}
.spot-detail-rating-average-container {
   margin-right:10px;
   font-size: 20px;
}
.spot-detail-total-reviews {
   font-size: 20px;
}
.spot-detail-rating-review-create-container {
   display: flex;
   justify-content: space-between
}
.spot-detail-create-review-button {
   display:flex;
   align-items: center;
}
